.hero {
  background: $color-danger-zone;

  &__title {
    color: $color-peach;
  }

  &__tagline {
    color: $color-cream;
  }

  &__quote {
    color: $color-blush;
    text-align: center;
    font-style: italic;
  }
}