// COLORS
$color-party-girl: #fc338f;
$color-berry-girl: #d62d83;
$color-danger-zone: #18141c;
$color-cream: #fef4d4;
$color-peach: #ffd5aa;
$color-blush: #f0b9d6;
$color-lilac: #dadafc;
$color-white: #fff;
$color-black: #000;

// TYPOGRAPHY

// Typography Settings
$font-base-size: 16px;

// Font Faces

@mixin font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

@mixin font-lato {
  font-family: 'Lato', sans-serif;
}

// Abstracted Fonts

@mixin font-primary {
  @include font-lato();
}

@mixin font-accent {
  @include font-inconsolata();

  letter-spacing: 0.05em;
}
