.shamed-list {
  background: $color-peach;
  background: radial-gradient(circle, $color-peach 0%, $color-blush 74%, $color-lilac 100%);

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    list-style: none;

    li {
      flex: 0 0 100%;
      margin: 0 0 1rem 0;
      padding: 1rem;
      background: rgba($color-white, 0.6);
      transition: background-color 0.2s;
      color: $color-black;

      @media (min-width: 480px) {
        flex-basis: calc(50% - 0.6rem);
      }

      @media (min-width: 768px) {
        flex-basis: calc(33.3333% - 0.6rem);
      }

      &:hover {
        background: rgba($color-white, 1);
      }
    }
  }
}

.card {
  &__title {
    font-size: 1.25em;
  }

  &__description {

  }
}