<section class="about">
  <div class="container">
    <h1>What is this?</h1>

    <p>
      Arduous and complicated password rules actually reduce web security. What ultimately makes
      a password strong is its <em>length</em>, not a series of difficult to remember rules.
      Password rules that disallow or restrict the use of special characters interfere with the
      entropy of the passwords stored in applications, making them easier to reverse engineer and
      crack. 
    </p>

    <p>
      Many people today use password managers, such as 1Password, which generate long and
      randomized passwords. Restrictive password rules prevent your users from benefiting from
      these secure passwords.
    </p>

    <p>
      Besides a case for a bare minimum of complexity for a password, including a minimum length,
      your password rules are likely ineffective and actually <em>reduce the security of your
      application</em>. Stop it. Do better.
    </p>

    <p>
      This is a repository of sites, apps, and entities which violate this manifesto.
    </p>

    <blockquote>
      &ldquo;Password rules are bullshit.&rdquo; - <a href="https://blog.codinghorror.com/password-rules-are-bullshit/">Jeff Atwood</a>
    </blockquote>
  </div>
</section>