<section class="contribute">
  <h1 class="contribute__heading">
    {{ .Site.Params.contributeTitle | markdownify }}
  </h1>

  <p>
    If you have an update to this list, <a href="https://heather.dev/contact">email me via my contact form</a>
    or <a href="https://github.com/heatherpekrul/password-shamer">create a pull request on GitHub</a>.
  </p>

  <p>
    If you are affiliated with one of the companies or sites linked above and you're unhappy, check
    yourself before you wreck yourself. Then you can <a href="https://heather.dev/contact">email me via my
      contact form</a> and I can take a look.
  </p>
</section>